In [1]:
from Fundamentals import Screener

In [ ]:
sc = Screener(username='Your_Email', password='Your_Password')

CSRF Token fetched successfully PU1WwN4ZrZu4DNrQF6XPKRiKEmPYKUWNDMRa3k4IeV3rUSNg22XYFJGUoQTxc34y
Login successful!  36EZKQLEuGp2FiDoLRhqKeR2uA6W4KPvyJZF5ssklrEkpCw73F9yhu4pPQ7u8OXN

In [3]:
print(sc.get_ticker('TCS'))

[{'id': 3365, 'name': 'Tata Consultancy Services Ltd', 'url': '/company/TCS/consolidated/'}, {'id': 3747, 'name': 'West Coast Paper Mills Ltd', 'url': '/company/WSTCSTPAPR/consolidated/'}, {'id': 872, 'name': 'Eastcoast Steel Ltd', 'url': '/company/ESTCSTSTEL/'}, {'id': 1271523, 'name': 'TCS e-Serve Ltd (Merged)', 'url': '/company/E-SERVEINT/consolidated/'}, {'id': 1847, 'name': 'Kutch Salt & Allied Industries Ltd', 'url': '/company/506540/'}, {'id': None, 'name': 'Search everywhere: TCS', 'url': '/full-text-search/?q=TCS'}]

In [8]:
bse_ticker = sc.get_ticker('BSE')[0].get('id') # Get BSE Ticker ID for BSE
print(sc.get_company_textual_data(bse_ticker)) # Use this text for NLP Tasks

**History**
BSE, the first-ever stock exchange in Asia, was established in 1875. It is also the first in the country to be granted permanent recognition under the Securities Contract Regulation Act, 1956. It is the Fastest Stock Exchange in the world with a speed of 6 microseconds and is one of India's leading exchange groups. **In 1986, the Co-developed the S&P BSE SENSEX index, giving the Co. a means to measure the overall performance of the exchange. In 2017, it became the first listed stock exchange in India.** {# https://www.bseindia.com/static/about/History_Milestones.html #}

**Services**
**Trading & Clearing**: The Co. provides a platform for the trading of equity, debt, equity derivatives, currency derivatives, commodity derivatives, SME, SME Startups Interest rate futures, and e-agricultural spot market.
**Services to Corporates**: Listing of equity, debt securities, mutual funds, and commercial papers.
**Distribution**: The Co. provides book-building services for IPO, Offer to buy, Offer for sell, New bond platform, Insurance, and Mutual Funds.
**Others**: The Co. also provides Data Feed, Index Services, Software Services, and Training Services. {# https://www.bseindia.com/downloads1/Investor_Presentation_Q2FY22_20211112182612.pdf#page=6 #}

**Revenue Split**
**Securities Services**: 44% in FY21 vs 38% in FY20.
**Services to corporates**: 45% in FY21 vs 48% in FY20.
**Data Dissemination Fees**: 6% in FY21 7% in FY20.
**Others**: 5% in FY21 vs 7% in FY20. {# https://www.bseindia.com/downloads1/Annual%20Report%202020-21_20210729093311.pdf#page=145 #}

**Market Share**
As of September 2021, the Co’s market share across various segments is as follows: Companies/Securities Listed: 73%, Interest Rate Derivatives: 66%, Debt/Fixed Income: 39%, Currency Derivatives: 28%, Equity Derivatives: 4%, Equity Cash 8% and Commodity Derivatives: 9%.
The Co’s market share in blue ocean businesses as of September 30, 2021, is as follows:
Star Mf: 72%, SME: 61%, BSE Bond: 55% and India INX: 86%.{# https://www.bseindia.com/downloads1/Investor_Presentation_Q2FY22_20211112182612.pdf#page=24 #}

**Primary Market**
The total number of companies listed on the exchange as of March 2021 was 5,477 vs 5,377 as of March 2020. Rs 18.56 lakh crore worth of funds were mobilized through the listing of Equity, Bonds, REITs, InvITs, and Commercial Papers, a growth of 53% over FY20. **In FY21, 30 companies tapped the capital market through the IPO process to get listed on the Mainboard of BSE.** The amount raised through Mainboard in FY21 was Rs 45,814 crore vs Rs 20,827 crore in FY20. {# https://www.bseindia.com/downloads1/Annual%20Report%202020-21_20210729093311.pdf#page=68 #}

**BSE StAR MF**
The BSE StAR MF platform is an e-Platform for investment and redemption in units of Mutual Funds and other Financial Products on behalf of clients, with close to 82% of the market share among similar platforms in the mutual fund industry. In FY21, BSE StAR MF crossed 9.38 Cr transactions vs 5.75 Crore transactions in FY20. The platform also registered approx. 42,000 new members, taking the total number of members to over 69,000 on the platform. BSE StAR MF App (StAR MF Mobility) has processed over 19.28 lakh transactions since its launch, amounting to Rs 11,007 crore till March 2021. {# https://www.bseindia.com/downloads1/Annual%20Report%202020-21_20210729093311.pdf#page=68 #}

**Launch of BSE StAR MF Plus**
In January 2021 the Co. launched StAR MF Plus, a premium platform with key features for distributors and their clients. StAR MF Plus offers complete front office, order management, analytics, back-office, and business support solutions. The new platform is a complete solution for distributors, enables client onboarding as well as e-KYC, and provides customer portfolio management. {# https://www.bseindia.com/downloads1/Annual%20Report%202020-21_20210729093311.pdf#page=32 #}

**BSE Ebix-Insurance Broking**
The Co. and Ebix, Inc., a leading insurance solution provider have set up a joint venture, BSE Ebix to develop a pioneering insurance network in India. **In FY20, BSE Ebix launched Motor Insurance and in FY21 it launched Life Insurance and Health Insurance. As of March 31, 2021, BSE Ebix has issued 5806 policies and has collected a premium of Rs 4.5 crores.** {# https://www.bseindia.com/downloads1/Investor_Presentation_Q2FY22_20211112182612.pdf#page=22 #} {# https://www.bseindia.com/downloads1/Annual%20Report%202020-21_20210729093311.pdf#page=71 #}

**India INX**
The Co. has made an investment of Rs 146 cr in India International Exchange (IFSC) Limited (India INX). India INX is an offshore platform, open 22 hours a day for trading, and has become the financial gateway of choice for both inbound and outbound investors. **The First-ever issuance of sustainability-linked notes of Adani Electricity Mumbai Limited amounting to USD 300 million were listed on the India INX Global Securities Market Green platform on July 23, 2021. HDFC Bank Limited exclusively listed USD 1 Billion AT 1 Bond on IFSC on August 26, 2021.**{# https://www.bseindia.com/downloads1/Annual%20Report%202020-21_20210729093311.pdf#page=74 #} {# https://www.bseindia.com/downloads1/Investor_Presentation_Q2FY22_20211112182612.pdf#page=19 #}


**Launch of BEAM**
In December 2020 the Co. under the flagship of its subsidiary company launched an electronic spot platform for agricultural commodities, BSE’s E-Agricultural Markets Ltd. (BEAM). The platform facilitates spot agricultural commodities transactions across value chains consisting of producers, intermediaries, ancillary services, and consumers. The products include Cereals & Pulses, Oil and Oilseeds, Fibres, Sugar, Dry fruit, Spices and Condiments, and Dairy and Dairy Products. The Co. has also signed the MoU with SUFI for creating Steel e-Spot Market. {# https://www.bseindia.com/downloads1/Annual%20Report%202020-21_20210729093311.pdf#page=33 #} {# https://www.bseindia.com/downloads1/Investor_Presentation_Q2FY22_20211112182612.pdf#page=12 #}

**New Products**
The Co. launched futures contracts on BSE Steel Billets w.e.f March 1, 2020, for the benefit of the steel ecosystem, as India becomes one of the major players in the global steel market. In June 2021 the Co. introduced monthly futures contracts on almonds, the first of its kind not only in India but globally. Since its launch, the Co. has recorded delivery of 1,20,000 Kgs. **The Co. also launched the first ‘options in goods’ contracts on Gold mini and Silver kg based on spot prices from June 1, 2020.** {# https://www.bseindia.com/downloads1/Annual%20Report%202020-21_20210729093311.pdf#page=71 #}

**MoU with Luxembourg Stock Exchange**
In November 2020, the Co’s international arm, India International Exchange (India INX), announced MoU with Luxembourg Stock Exchange for the development and promotion of ESG and green finance in the local market. This pact is a non-binding agreement with Luxembourg Stock Exchange and can provide the issuers and investors with an opportunity to list and trade green bonds on India INXs platform, GSM Green with an opportunity to dual list with Luxembourg Stock Exchange which is the largest green bond listing platform with exceptional governance standards. {# https://www.bseindia.com/downloads1/Annual%20Report%202020-21_20210729093311.pdf#page=80 #}

In [4]:
# Get Reliance Industries quarterly results (Consolidated)
reliance_slug_url = sc.get_ticker('RELIANCE')[0].get('url') # Get Reliance Industries slug URL
sc.get_quarterly_results(reliance_slug_url)

,Mar 2022,Jun 2022,Sep 2022,Dec 2022,Mar 2023,Jun 2023,Sep 2023,Dec 2023,Mar 2024,Jun 2024,Sep 2024,Dec 2024,Mar 2025
Unnamed: 0,,,,,,,,,,,,,
Sales +,207375,218855,229409,216737,212834,207559,231886,225086,236533,231784,231535,239986,261388
Expenses +,176009,181157,198438,181728,174478,169466,190918,184430,194017,193019,192477,196197,217556
Operating Profit,31366,37698,30971,35009,38356,38093,40968,40656,42516,38765,39058,43789,43832
OPM %,15%,17%,14%,16%,18%,18%,18%,18%,18%,17%,17%,18%,17%
Other Income +,2602,2275,3656,3377,2996,3813,3841,3869,4534,3983,4876,4214,4905
Interest,3556,3997,4554,5201,5819,5837,5731,5789,5761,5918,6017,6179,6155
Depreciation,8001,8942,9726,10183,11452,11775,12585,12903,13569,13596,12880,13181,13479
Profit before tax,22411,27034,20347,23002,24081,24294,26493,25833,27720,23234,25037,28643,29103
Tax %,20%,28%,24%,23%,11%,25%,25%,25%,24%,25%,24%,24%,23%
Net Profit +,18021,19443,15512,17806,21327,18258,19878,19641,21243,17445,19323,21930,22611
EPS in Rs,11.98,13.27,10.09,11.67,14.26,11.83,12.85,12.76,14.01,11.19,12.24,13.70,14.34
Raw PDF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
YOY Sales Growth %,38.64%,56.38%,36.87%,17.14%,2.63%,-5.16%,1.08%,3.85%,11.13%,11.67%,-0.15%,6.62%,10.51%
Material Cost %,70%,67%,69%,67%,64%,63%,66%,66%,65%,66%,66%,64%,65%
Employee Cost %,3%,3%,3%,3%,3%,3%,3%,3%,3%,3%,3%,3%,3%
Exceptional items,0,38,180,100,100,0,0,0,0,0,0,0,0
Other income normal,"2,602","2,237","3,476","3,277","2,896","3,813","3,841","3,869","4,534","3,983","4,876","4,214","4,905"
Profit from Associates,0,0,0,0,0,76,58,153,100,-3,222,126,177
Minority share,"-1,818","-1,488","-1,856","-2,014","-2,028","-2,247","-2,484","-2,376","-2,292","-2,307","-2,760","-3,390","-3,204"
Exceptional items AT,0,38,180,100,100,0,0,0,0,0,0,0,0
Profit excl Excep,"18,021","19,405","15,332","17,706","21,227","18,258","19,878","19,641","21,243","17,445","19,323","21,930","22,611"
Profit for PE,"16,203","17,920","13,498","15,703","19,209","16,011","17,394","17,265","18,951","15,138","16,563","18,540","19,407"
Profit for EPS,"16,203","17,955","13,656","15,792","19,299","16,011","17,394","17,265","18,951","15,138","16,563","18,540","19,407"
YOY Profit Growth %,29%,46%,-1%,-5%,19%,-11%,29%,10%,-1%,-5%,-5%,7%,2%

In [5]:
# Get Reliance Industries quarterly results (Standalone)
reliance_slug_url = sc.get_ticker('RELIANCE')[0].get('url') # Get Reliance Industries slug URL
sc.get_quarterly_results(reliance_slug_url.replace('consolidated/', ''))

,Mar 2022,Jun 2022,Sep 2022,Dec 2022,Mar 2023,Jun 2023,Sep 2023,Dec 2023,Mar 2024,Jun 2024,Sep 2024,Dec 2024,Mar 2025
Unnamed: 0,,,,,,,,,,,,,
Sales +,129479,146478,137346,125849,129674,122627,137380,127695,146832,129898,130108,124381,132962
Expenses +,114898,125525,125561,110950,110542,105134,118189,110137,126809,115583,116683,109168,117846
Operating Profit,14581,20953,11785,14899,19132,17493,19191,17558,20023,14315,13425,15213,15116
OPM %,11%,14%,9%,12%,15%,14%,14%,14%,14%,11%,10%,12%,11%
Other Income +,3072,3399,3499,2689,2750,2728,2934,2969,3497,3502,3801,3214,5577
Interest,1984,2616,2916,3349,3752,3596,3239,2982,3613,2963,2662,2371,2058
Depreciation,2465,2248,2611,2529,3779,3883,4384,4567,4856,4708,4350,4459,4464
Profit before tax,13204,19488,9757,11710,14351,12742,14502,12978,15051,10146,10214,11597,14171
Tax %,16%,23%,29%,28%,4%,24%,23%,24%,25%,25%,24%,25%,21%
Net Profit +,11094,15096,6915,8373,13806,9627,11208,9924,11283,7611,7713,8721,11217
EPS in Rs,8.20,11.16,5.11,6.19,10.20,7.11,8.28,7.33,8.34,5.62,5.70,6.44,8.29
Raw PDF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
YOY Sales Growth %,60.53%,70.03%,41.70%,13.22%,0.15%,-16.28%,0.02%,1.47%,13.23%,5.93%,-5.29%,-2.60%,-9.45%
Material Cost %,79%,75%,77%,75%,71%,72%,73%,74%,74%,76%,76%,73%,75%
Employee Cost %,1%,1%,1%,1%,2%,2%,1%,1%,1%,2%,2%,2%,2%
Exceptional items,0,868,165,110,45,0,0,0,0,0,0,0,0
Other income normal,"3,072","2,531","3,334","2,579","2,705","2,728","2,934","2,969","3,497","3,502","3,801","3,214","5,577"
Exceptional items AT,0,868,165,110,45,0,0,0,0,0,0,0,0
Profit excl Excep,"11,094","14,228","6,750","8,263","13,761","9,627","11,208","9,924","11,283","7,611","7,713","8,721","11,217"
Profit for PE,"11,094","14,228","6,750","8,263","13,761","9,627","11,208","9,924","11,283","7,611","7,713","8,721","11,217"
Profit for EPS,"11,094","15,096","6,915","8,373","13,806","9,627","11,208","9,924","11,283","7,611","7,713","8,721","11,217"
YOY Profit Growth %,46%,66%,-27%,-19%,24%,-32%,66%,20%,-18%,-21%,-31%,-12%,-1%

In [6]:
# Get Reliance Industries P&L Statement (Consolidated)
slug_url = sc.get_ticker('Bharat Rasayan')[0].get('url')
sc.get_profit_and_loss(slug_url)
# sc.get_profit_and_loss(slug_url.replace('consolidated/', '')) # Standalone P&L Statement

,Mar 2014,Mar 2015,Mar 2016,Mar 2017,Mar 2018,Mar 2019,Mar 2020,Mar 2021,Mar 2022,Mar 2023,Mar 2024,Mar 2025,isExpandable
Unnamed: 0,,,,,,,,,,,,,
Sales +,360,438,451,618,792,989,1213,1091,1301,1234,1044,1173,NaN
Expenses +,296,355,370,508,634,802,983,851,1049,1037,926,998,NaN
Operating Profit,64,82,81,111,159,188,230,240,252,197,118,175,NaN
OPM %,18%,19%,18%,18%,20%,19%,19%,22%,19%,16%,11%,15%,NaN
Other Income +,1,1,1,2,4,1,14,6,16,15,21,26,NaN
Interest,17,18,13,12,12,16,16,4,7,6,3,5,NaN
Depreciation,18,18,17,16,16,17,22,26,25,26,26,27,NaN
Profit before tax,30,48,52,84,135,155,205,216,235,180,109,169,NaN
Tax %,33%,34%,34%,35%,27%,28%,23%,24%,25%,27%,25%,26%,NaN
Net Profit +,20,32,34,55,98,112,158,164,177,131,82,125,NaN
EPS in Rs,47.43,74.73,79.74,128.35,231.39,262.48,371.03,387.11,426.27,314.85,196.40,301.06,NaN
Dividend Payout %,2%,2%,2%,1%,1%,1%,0%,0%,0%,0%,1%,0%,NaN
Sales Growth %,94.55%,21.49%,3.09%,37.08%,28.11%,24.86%,22.59%,-10.02%,19.20%,-5.13%,-15.39%,12.35%,NaN
Material Cost %,65%,66%,65%,66%,66%,69%,69%,63%,65%,68%,69%,66%,"Company.showSchedule(""Material Cost %"", ""profi..."
Manufacturing Cost %,6%,6%,7%,6%,6%,4%,5%,6%,7%,7%,8%,0%,NaN
Employee Cost %,7%,7%,7%,7%,6%,6%,6%,7%,7%,7%,8%,7%,NaN
Other Cost %,4%,3%,2%,3%,2%,2%,2%,2%,2%,2%,4%,12%,NaN
Exceptional items,-0.33,-0.01,0.05,-0.26,1.88,-1.77,-3.21,-1.26,-0.09,-4.34,1.83,0.00,NaN
Other income normal,0.97,0.87,0.55,2.17,2.62,2.51,16.82,7.13,15.64,19.34,19.07,26.02,NaN
Exceptional items AT,-0,0,0,-0,1,-1,-2,-1,-0,-3,1,0,NaN
Profit excl Excep,20,32,34,55,97,113,160,165,177,134,80,125,NaN
Profit for PE,20,32,34,55,97,113,160,165,177,134,80,125,NaN
Profit for EPS,20,32,34,55,98,112,158,164,177,131,82,125,NaN

In [7]:
# Get Infosys Balance Sheet (Consolidated)
slug_url = sc.get_ticker('INFY')[0].get('url')
sc.get_balance_sheet(slug_url)
# sc.get_balance_sheet(slug_url.replace('consolidated/', '')) # Standalone

,Mar 2014,Mar 2015,Mar 2016,Mar 2017,Mar 2018,Mar 2019,Mar 2020,Mar 2021,Mar 2022,Mar 2023,Mar 2024,Mar 2025
Unnamed: 0,,,,,,,,,,,,
Equity Capital,286,572,1144,1144,1088,2170,2122,2124,2098,2069,2071,2073
Reserves,44244,50164,60600,67838,63835,62778,63328,74227,73252,73338,86045,93745
Borrowings +,0,0,0,0,0,0,4633,5325,5474,8299,8359,8227
Other Liabilities +,12436,15553,13354,14166,14426,19118,21717,25835,35905,40890,40885,43750
Total Liabilities,56966,66289,75098,83148,79349,84066,91800,107511,116729,124596,137360,147795
Fixed Assets +,8378,11346,13386,14179,12574,15710,23789,25505,25800,29225,27622,30961
CWIP,961,776,960,1365,1606,1388,954,922,416,288,293,814
Investments,4331,2270,1892,16423,12163,11261,8792,14205,20324,19478,24623,23541
Other Assets +,43296,51897,58860,51181,53006,55707,58265,66879,70189,75605,84822,92479
Total Assets,56966,66289,75098,83148,79349,84066,91800,107511,116729,124596,137360,147795
Lease Liabilities,0,0,0,0,0,0,"4,633","5,325","5,474","8,299","8,359","8,227"
Non controlling int,0,0,0,0,1,58,394,431,386,388,345,385
Trade Payables,173,140,386,367,694,"1,655","2,852","2,645","4,134","3,865","3,956","4,164"
Advance from Customers,40,27,28,0,0,0,0,0,0,0,0,0
Other liability items,"12,223","15,386","12,940","13,799","13,731","17,405","18,471","22,759","31,385","36,637","36,584","39,201"
Land,"1,142","1,564","1,622","1,095","1,229","1,307","1,950","2,036","2,066","2,054","2,037","2,079"
Building,"5,238","6,102","6,325","8,419","9,334","10,270","15,104","16,328","16,760","16,903","16,515","16,376"
Plant Machinery,"1,150","1,427","1,759","2,048","2,306","2,709","3,185","3,296","3,210","3,302","3,428","3,461"
Equipments,551,676,839,922,"1,002","1,101","1,265","1,371","1,427","1,482","1,528","1,628"
Computers,"2,659","3,347","4,486","4,945","4,903","6,287","7,423","8,650","9,936","11,898","12,353","12,925"
Furniture n fittings,805,958,"1,444","1,277","1,393","1,620","2,073","2,149","2,278","2,303","2,326","2,340"
Vehicles,35,34,29,31,31,38,69,74,71,60,62,72
Intangible Assets,"2,244","3,637","3,858","3,743","2,237","3,640","5,527","6,372","6,495","7,594","7,653","10,626"
Other fixed assets,126,71,931,899,545,"1,093","2,289","2,730","2,766","3,281","3,294","5,184"
Gross Block,"13,950","17,816","21,293","23,379","22,980","28,065","38,885","43,006","45,009","48,877","49,196","54,691"
Accumulated Depreciation,"5,572","6,470","7,907","9,200","10,406","12,355","15,096","17,501","19,209","19,652","21,574","23,730"
Trade receivables,"8,351","9,713","11,330","12,322","13,142","14,827","18,487","19,294","22,698","25,424","30,193","31,158"
Cash Equivalents,"25,950","30,367","32,697","22,625","19,818","19,568","18,649","24,714","17,472","12,173","14,786","24,455"
Loans n Advances,"1,484",399,614,844,830,"1,524","1,359","1,460","2,491","3,242","10,330","6,717"
Other asset items,"7,511","11,418","14,219","15,390","19,216","19,788","19,770","21,411","27,528","34,766","29,513","30,149"

In [9]:
# Get Lupin Cash Flow Statement (Consolidated)
slug_url = sc.get_ticker('Lupin')[0].get('url')
sc.get_cash_flow(slug_url)
# sc.get_cash_flow(slug_url.replace('consolidated/', '')) # Standalone

,Mar 2014,Mar 2015,Mar 2016,Mar 2017,Mar 2018,Mar 2019,Mar 2020,Mar 2021,Mar 2022,Mar 2023,Mar 2024,Mar 2025
Unnamed: 0,,,,,,,,,,,,
Cash from Operating Activity +,2004,2733,-382,4114,1751,1666,1469,1822,367,1897,3648,3000
Cash from Investing Activity +,-851,-1034,-6769,-2527,470,-3282,1107,-1240,1292,-1287,-1712,-4172
Cash from Financing Activity +,-857,-197,5836,433,-1492,744,-891,-1885,-1572,-337,-2184,1732
Net Cash Flow,296,1502,-1315,2019,729,-872,1685,-1303,87,273,-248,560
Profit from operations,"3,242","3,772","3,914","4,758","3,329","3,106","2,451","2,710",335,"1,814","3,889","5,317"
Receivables,-336,-124,"-1,708",97,-888,-56,"-1,044",895,275,-132,-241,-781
Inventory,-156,-337,-538,-372,17,-295,-480,-657,-499,195,-440,-541
Payables,26,322,-56,603,-31,-164,562,-373,234,217,419,1
Loans Advances,-44,5,16,-11,-8,10,4,2,3,-15,0,0
Other WC items,45,37,-840,187,-110,5,487,-59,-28,62,348,-89
Working capital changes,-466,-95,"-3,126",505,"-1,019",-500,-471,-192,-15,327,86,"-1,411"
Direct taxes,-772,-944,"-1,170","-1,149",-558,-939,-511,-695,47,-243,-326,-906
Fixed assets purchased,-529,-871,"-5,822","-2,637","-1,553",-985,-673,-678,-905,"-1,500",-929,"-1,682"
Fixed assets sold,3,4,40,36,64,25,2,6,7,39,12,29
Investments purchased,0,-0,-3,-0,"-5,029","-9,159","-14,126","-12,418","-11,350","-11,823","-11,128","-17,048"
Investments sold,1,0,4,1,"6,945","7,134","14,007","12,392","12,939","12,219","10,591","17,016"
Interest received,14,7,3,11,13,62,129,40,33,32,46,130
Dividends received,3,65,44,49,28,42,15,0,0,0,0,0
Redemp n Canc of Shares,0,0,0,0,0,0,"1,578",0,0,0,0,0
Acquisition of companies,-89,-629,"-1,228",0,0,0,0,0,0,0,0,0
Other investing items,-254,390,193,13,3,-402,176,-582,568,-254,-304,"-2,616"
Proceeds from shares,24,41,86,43,15,4,6,11,16,2,15,40
Proceeds from borrowings,0,0,"6,208",948,972,"1,292",839,353,142,286,0,"2,428"
Repayment of borrowings,-530,-70,0,0,"-1,868",0,-989,"-1,721","-1,221",-113,"-1,617",0
Interest paid fin,-28,-11,-58,-151,-204,-280,-356,-152,-124,-227,-283,-255
Dividends paid,-321,-134,-337,-338,-338,-225,-226,-272,-295,-182,-183,-365
Financial liabilities,0,0,0,0,0,0,-117,-104,-91,-103,-116,-231
Other financing items,-2,-23,-63,-69,-69,-46,-47,0,0,0,0,115

In [10]:
# Get Ratios of Hindustan Unilever (Consolidated)
slug_url = sc.get_ticker('HINDUNILVR')[0].get('url')
# sc.get_ratios(slug_url) # Consolidated Ratios
sc.get_ratios(slug_url.replace('consolidated/', '')) # Standalone

,Mar 2014,Mar 2015,Mar 2016,Mar 2017,Mar 2018,Mar 2019,Mar 2020,Mar 2021,Mar 2022,Mar 2023,Mar 2024,Mar 2025
Unnamed: 0,,,,,,,,,,,,
Debtor Days,11,9,12,11,12,16,10,13,14,17,16,20
Inventory Days,83,72,71,65,62,57,63,64,63,53,52,56
Days Payable,170,146,155,165,186,167,177,162,145,122,139,148
Cash Conversion Cycle,-76,-65,-71,-89,-111,-94,-104,-86,-67,-53,-71,-72
Working Capital Days,-57,-55,-27,-35,-39,-32,-33,-31,-22,-16,-21,-31
ROCE %,154%,150%,120%,97%,109%,119%,120%,38%,24%,26%,27%,28%

In [11]:
# Share Holding Pattern of Hindustan Aeronautics
slug_url = sc.get_ticker('Hindustan Aeronautics')[0].get('url')
sc.get_shareholding_pattern(slug_url)

,Jun 2022,Sep 2022,Dec 2022,Mar 2023,Jun 2023,Sep 2023,Dec 2023,Mar 2024,Jun 2024,Sep 2024,Dec 2024,Mar 2025
Unnamed: 0,,,,,,,,,,,,
Promoters +,75.15%,75.15%,75.15%,71.65%,71.64%,71.64%,71.64%,71.64%,71.64%,71.64%,71.64%,71.64%
FIIs +,5.56%,6.85%,7.14%,9.07%,11.90%,12.63%,12.93%,12.42%,11.68%,11.85%,12.26%,12.08%
DIIs +,15.71%,13.48%,12.72%,13.93%,10.64%,9.72%,9.13%,9.58%,8.81%,8.37%,8.13%,8.26%
Government +,0.00%,0.00%,0.00%,0.00%,0.00%,0.00%,0.00%,0.00%,0.00%,0.00%,0.03%,0.04%
Public +,3.58%,4.53%,4.98%,5.34%,5.81%,6.02%,6.28%,6.36%,7.86%,8.13%,7.95%,7.97%
No. of Shareholders,238716,300175,321246,358317,420694,491969,619151,714091,1116204,1272495,1275632,1352377
President of India,75.15,75.15,75.15,71.65,71.64,71.64,71.64,71.64,71.64,71.64,71.64,71.64
Life Insurance Corporation Of India,7.72,5.01,4.07,3.51,2.93,1.55,1.59,1.89,2.03,2.24,2.53,2.72
Hdfc Trustee Company Limited,4.45,3.90,3.68,4.25,3.75,3.67,3.43,3.13,1.57,1.32,1.20,NaN
Icici Prudential Mutual Fund,NaN,NaN,NaN,1.41,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Government Of Singapore,NaN,NaN,NaN,NaN,1.03,1.03,1.04,NaN,NaN,NaN,NaN,NaN
Resident Individuals holding nominal share capital up to Rs. 2 lakhs,NaN,NaN,NaN,NaN,NaN,NaN,5.06,NaN,NaN,NaN,NaN,NaN
Hdfc Mutual Fund,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.14

In [12]:
# Componded Sales Growth of Hindustan Aeronautics
slug_url = sc.get_ticker('Hindustan Aeronautics')[0].get('url')
sc.get_base_tables(slug_url, 'Compounded Sales Growth')[0]

  Compounded Sales Growth Compounded Sales Growth.1
0               10 Years:                        7%
1                5 Years:                        8%
2                3 Years:                        8%
3                    TTM:                        2%

In [13]:
# Componded Sales Growth of Hindustan Aeronautics
slug_url = sc.get_ticker('Hindustan Aeronautics')[0].get('url')
sc.get_base_tables(slug_url, 'Compounded Profit Growth')[0] # You can Also get {'Stock Price CAGR', 'Return on Equity'}

  Compounded Profit Growth Compounded Profit Growth.1
0                10 Years:                        13%
1                 5 Years:                        24%
2                 3 Years:                        18%
3                     TTM:                        10%

In [14]:
# Get Peers Comparison of Adani Ports
slug_url = sc.get_ticker('Adani Ports')[0].get('url')
sc.get_peers_comparison(slug_url)

,S.No.,Name,CMP Rs.,Sales Rs.Cr.,OPM %,PAT 12M Rs.Cr.,Mar Cap Rs.Cr.,Sales Qtr Rs.Cr.,PAT Qtr Rs.Cr.,Qtr Sales Var %,Qtr Profit Var %,P/E,Div Yld %,CMP / BV,ROCE %,ROA 12M %,Debt / Eq,ROE %
0,1.0,Adani Ports,1440.20,30475.33,59.53,10760.85,311070.57,8488.44,3034.41,23.08,29.88,28.91,0.49,5.00,13.80,8.59,0.83,18.71
1,2.0,JSW Infrast,316.65,4476.14,50.54,1439.30,66527.98,1283.18,509.37,17.04,54.79,46.22,0.25,6.86,13.92,9.55,0.52,16.24
2,3.0,Guj Pipavav Port,162.95,987.67,58.48,399.16,7868.41,251.77,109.04,0.20,8.52,19.71,4.48,3.72,24.88,14.84,0.03,18.96
3,4.0,Allcargo Termi,28.94,757.81,16.95,33.38,729.97,185.93,-2.28,2.29,-126.00,21.87,0.00,2.65,11.83,3.83,2.04,13.19
4,5.0,Starlog Enterp.,75.00,13.81,16.87,-2.56,112.25,2.84,-2.30,-14.71,-160.24,NaN,0.00,1.48,-2.00,-2.01,0.01,-5.38
5,6.0,VMS Industries,42.03,288.56,2.74,6.80,102.87,52.10,5.14,-43.15,272.46,15.13,1.19,1.07,12.18,4.23,0.15,8.49
6,NaN,Median: 6 Co.,118.97,872.74,33.74,216.27,4299.19,218.85,57.09,1.25,19.20,21.87,0.37,3.19,12.99,6.41,0.34,14.71

In [15]:
# Ratios, Moving Avg Daily Basis Chart Data of Reliance Industries
sc.get_chart_data('/company/RELIANCE/consolidated/', days=365, on='Price-DMA50-DMA200-Volume')

           date Price on NSE   50 DMA  200 DMA    Volume
0    2024-06-27      1530.55  1455.76  1369.93  29045250
1    2024-06-28      1565.40  1460.06  1371.87  31023112
2    2024-07-01      1560.15  1463.99  1373.75   8099517
3    2024-07-02      1565.18  1467.96  1375.65   8063438
4    2024-07-03      1552.43  1471.27  1377.41   9392959
..          ...          ...      ...      ...       ...
245  2025-06-23      1456.80  1395.00  1343.78   6278512
246  2025-06-24      1450.80  1397.18  1344.85  20067965
247  2025-06-25      1467.30  1399.93  1346.07   7669119
248  2025-06-26      1495.30  1403.67  1347.55  15024146
249  2025-06-27      1515.40  1408.06  1349.22  11457763

[250 rows x 5 columns]

In [16]:
# You can try `on` params with = {'Price-DMA50-DMA200-Volume', 
# 'Price to Earning-Median PE-EPS', 
# 'GPM-OPM-NPM-Quarter Sales', 
# 'EV Multiple-Median EV Multiple-EBITDA', 
# 'Price to book value-Median PBV-Book value', 
# 'Market Cap to Sales-Median Market Cap to Sales-Sales'}
sc.get_chart_data('/company/RELIANCE/consolidated/', days=10000, on='GPM-OPM-NPM-Quarter Sales')

          date  GPM %  OPM %  NPM %  Quarter Sales
0   2005-03-31  29.76  19.88  12.85        17839.0
1   2005-06-30  32.24  20.05  12.99        17784.0
2   2005-09-30  30.35  17.92  11.98        20717.0
3   2005-12-31  30.91  16.38   9.78        18168.0
4   2006-03-31  30.00  16.49  10.19        24542.0
..         ...    ...    ...    ...            ...
76  2024-03-31  35.12  17.97   8.98       236533.0
77  2024-06-30  33.79  16.72   7.53       231784.0
78  2024-09-30  33.96  16.87   8.35       231535.0
79  2024-12-31  36.26  18.25   9.14       239986.0
80  2025-03-31  34.82  16.77   8.65       261388.0

[81 rows x 5 columns]

In [17]:
# Get all the screens available in the Screener Page
sc.get_screens()

{'Low on 10 year average earnings': '/screens/6994/low-on-10-year-average-earnings/',
 'Capacity expansion': '/screens/97687/capacity-expansion/',
 'Debt reduction...': '/screens/126864/debt-reduction/',
 'Companies creating new high': '/screens/214283/companies-creating-new-high/',
 'Growth without dilution': '/screens/226712/growth-without-dilution/',
 'FII Buying': '/screens/343087/fii-buying/',
 'Piotroski Scan': '/screens/2/piotroski-scan/',
 'Magic Formula': '/screens/59/magic-formula/',
 'Coffee Can Portfolio': '/screens/57601/coffee-can-portfolio/',
 'Darvas Scan': '/screens/4928/darvas-scan/',
 'Golden Crossover': '/screens/336509/golden-crossover/',
 'Bearish Crossovers': '/screens/338555/bearish-crossovers/',
 'Price Volume Action': '/screens/440753/price-volume-action/',
 'RSI - Oversold Stocks': '/screens/985942/rsi-oversold-stocks/',
 'The Bull Cartel': '/screens/1/the-bull-cartel/',
 'Quarterly Growers': '/screens/86/quarterly-growers/',
 'Best of latest quarter': '/screens/50359/best-of-latest-quarter/',
 'All Latest QTR Results [Date Wise]': '/screens/2437615/all-latest-qtr-results-date-wise/',
 'Highest Dividend Yield Shares': '/screens/3/highest-dividend-yield-shares/',
 'Loss to Profit Companies': '/screens/49/loss-to-profit-companies/',
 'FCF yield': '/screens/5772/fcf-yield/',
 'High Ratio of Market Value of Investments': '/screens/171936/high-ratio-of-market-value-of-investments/',
 'Book value over 5 times price': '/screens/276307/book-value-over-5-times-price/',
 'Growth Stocks': '/screens/178/growth-stocks/'}

In [18]:
# Get the screen Query with name 'Companies creating new high'
screen = sc.get_screens()['Companies creating new high']
query = sc.get_query_from_pre_screens_feed(screen)
print(query)

Current price > High price * .85 AND
Market Capitalization > 100

In [19]:
# Get data from the screen query You can also use the query from the screen or build your own query
sc.get_data_from_screen_query(query)

Error fetching data for page 16: No tables found
No data found for the given query.

,Name,CMP Rs.,Sales Rs.Cr.,OPM %,PAT 12M Rs.Cr.,Mar Cap Rs.Cr.,Sales Qtr Rs.Cr.,PAT Qtr Rs.Cr.,Qtr Sales Var %,Qtr Profit Var %,P/E,Div Yld %,CMP / BV,ROCE %,ROA 12M %,Debt / Eq,ROE %,52w High Rs.
0,ITC Hotels,225.98,3559.81,34.02,634.57,47000.89,1060.62,256.9,NaN,NaN,74.07,0.0,4.4,NaN,NaN,0.01,NaN,227.25
1,Sonu Infratech,127.35,170.3,14.11,11.04,131.8,90.88,5.25,NaN,NaN,11.94,0.0,2.21,NaN,NaN,1.11,NaN,145.0
2,Midwest Gold,885.75,0.78,-544.87,-5.6,978.57,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,885.75
3,De Neers Tools,323.4,144.7,17.89,15.76,278.33,NaN,NaN,NaN,NaN,17.66,0.0,NaN,NaN,NaN,NaN,NaN,374.8
4,Abate As Indust,25.76,14.09,5.32,1.1,202.99,NaN,NaN,NaN,NaN,184.54,0.0,1.24,NaN,NaN,0.06,NaN,30.13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
702,MPS,2653.70,726.89,29.01,144.53,4522.98,182.11,42.58,21.88,48.31,31.29,2.83,9.49,41.42,20.21,0.01,30.81,3079.00
703,Kimia Bioscien.,61.20,118.92,17.03,9.61,289.55,30.10,4.57,15.15,334.36,30.13,0.00,36.42,41.30,9.61,4.27,2912.12,61.20
704,Blue Water,164.90,196.15,9.56,10.67,181.39,NaN,NaN,NaN,NaN,17.00,0.00,NaN,41.11,18.01,1.82,72.02,187.20
705,Nippon Life Ind.,783.75,2230.69,64.63,1286.39,49812.30,566.54,298.60,20.99,-12.92,38.72,2.30,11.81,41.07,28.44,0.02,31.39,821.95
706,Hawkins Cookers,8132.80,1115.76,13.85,114.69,4302.25,306.66,34.36,10.80,0.67,37.51,1.48,11.22,40.91,20.66,0.06,32.00,9200.00

In [20]:
# Get all the industries available in the Screener Page
sc.get_all_industries()

,No. of Companies,Total Market Cap.,Avg Market Cap.,Median P/E,Avg Sales Growth,Avg OPM,Avg ROCE,1Y Return,URL
Industry,,,,,,,,,
NaN,1,0,0,0,12%,27%,93%,%,NaN
2/3 Wheelers,10,649823,64982,32,7%,-11%,7%,-17%,/market/IN02/IN0201/IN020101/IN020101002/
Abrasives & Bearings,8,87532,10942,51,4%,13%,15%,-30%,/market/IN07/IN0702/IN070205/IN070205016/
Advertising & Media Agencies,18,4489,249,21,148%,5%,11%,-19%,/market/IN02/IN0204/IN020401/IN020401001/
Aerospace & Defense,25,839527,33581,76,36%,21%,20%,22%,/market/IN07/IN0702/IN070201/IN070201001/
...,...,...,...,...,...,...,...,...,...
Waste Management,14,11411,815,26,39%,22%,22%,7%,/market/IN11/IN1102/IN110201/IN110201002/
Water Supply & Management,7,23395,3342,27,11%,20%,23%,-23%,/market/IN11/IN1102/IN110201/IN110201001/
Web based media and service,2,1003,501,35,34%,10%,10%,-25%,/market/IN02/IN0204/IN020401/IN020401003/
Wellness,2,805,403,NaN,-16%,2%,-7%,-7%,/market/IN02/IN0206/IN020601/IN020601004/
Zinc,2,190803,95401,35,23%,36%,42%,-38%,/market/IN01/IN0103/IN010302/IN010302003/

In [21]:
# Industry Wise Data of Waste Management
waste_magmt_industry_url = '/market/IN11/IN1102/IN110201/IN110201002/'
sc.get_industry_wise_data(waste_magmt_industry_url)

Fetching Pages ... 1.	Done

,Name,CMP Rs.,Sales Rs.Cr.,OPM %,PAT 12M Rs.Cr.,Mar Cap Rs.Cr.,Sales Qtr Rs.Cr.,PAT Qtr Rs.Cr.,Qtr Sales Var %,Qtr Profit Var %,P/E,Div Yld %,CMP / BV,ROCE %,ROA 12M %,Debt / Eq,ROE %
0,EMS,626.70,965.83,26.00,183.54,3489.28,265.83,46.60,8.39,-1.65,19.01,0.32,3.57,26.60,17.21,0.09,20.69
1,Antony Waste han,656.20,933.61,20.89,69.57,1863.97,242.66,21.84,15.51,-20.58,26.79,0.00,2.83,12.07,5.29,0.77,11.29
2,Concord Enviro,586.95,594.44,15.42,58.19,1212.47,206.99,48.49,3.39,33.36,20.84,0.00,2.28,14.79,7.88,0.25,13.59
3,Eco Recyc.,610.75,43.96,70.47,23.38,1178.54,9.77,2.08,21.37,26.06,50.41,0.00,13.40,38.19,24.46,0.08,30.41
4,Z-Tech,572.00,94.40,29.46,20.18,819.69,34.99,9.08,58.04,236.30,40.62,0.00,4.80,28.71,16.22,0.01,20.94
5,Effwa Infra,235.15,185.12,16.22,20.11,544.30,124.26,15.35,10.80,22.31,27.07,0.00,5.74,33.89,17.28,0.31,30.46
6,Hi-Green Carbon,210.15,96.79,19.73,11.13,525.17,60.69,5.82,64.78,14.34,47.18,0.00,6.06,12.76,9.02,0.55,13.73
7,VVIP Infratech,189.75,370.67,21.06,36.10,473.80,199.75,18.58,23.01,110.90,13.12,0.00,2.38,33.31,12.43,0.48,23.32
8,Race Eco,248.55,555.10,1.75,3.89,432.70,193.95,1.48,127.72,1245.45,111.23,0.00,5.99,9.58,3.16,0.86,8.30
9,Namo eWaste,143.55,121.97,9.52,8.41,328.26,69.36,3.06,42.42,-26.79,39.03,0.00,3.70,18.30,11.06,0.02,13.55
10,Organic Recyclin,273.60,43.77,35.78,15.72,236.92,26.20,8.95,75.72,55.65,15.07,0.00,1.75,12.03,9.57,0.26,14.50
11,Gem Enviro,69.10,59.20,12.42,6.09,155.82,37.01,1.50,145.42,-68.55,25.59,0.72,3.18,19.47,12.12,0.00,14.67
12,Urban Enviro,151.25,141.05,17.76,10.26,130.98,69.11,2.63,23.39,-13.77,12.77,0.17,4.11,31.71,13.13,0.85,38.35
13,EP Biocomposites,114.90,12.01,14.74,1.03,19.32,7.60,0.83,7.95,-10.75,18.76,0.00,1.82,14.20,6.50,0.28,10.22

In [22]:
# Get Concalls of Reliance Industries
sc.get_cocalls_link('/company/RELIANCE/consolidated/')

,Transcript,Notes,PPT,Recording
Apr 2025,https://cdn-media.screener.in/concalls/d0140ba...,/concalls/summary/22993911/,https://cdn-media.screener.in/concalls/d0140ba...,https://cdn-media.screener.in/concalls/d0140ba...
Jan 2025,https://cdn-media.screener.in/concalls/d065835...,/concalls/summary/22972025/,https://cdn-media.screener.in/concalls/d065835...,https://cdn-media.screener.in/concalls/d065835...
Oct 2024,https://cdn-media.screener.in/concalls/07c7583...,/concalls/summary/22949407/,https://cdn-media.screener.in/concalls/07c7583...,https://cdn-media.screener.in/concalls/07c7583...
Aug 2024,None,None,https://cdn-media.screener.in/concalls/c9de724...,https://cdn-media.screener.in/concalls/c9de724...
Jul 2024,https://cdn-media.screener.in/concalls/391978c...,/concalls/summary/22929497/,https://cdn-media.screener.in/concalls/391978c...,https://cdn-media.screener.in/concalls/391978c...
Apr 2024,https://cdn-media.screener.in/concalls/91ad4b2...,/concalls/summary/22010117/,https://cdn-media.screener.in/concalls/91ad4b2...,https://cdn-media.screener.in/concalls/91ad4b2...
Jan 2024,https://cdn-media.screener.in/concalls/e8ccf3b...,/concalls/summary/18520636/,https://cdn-media.screener.in/concalls/e8ccf3b...,https://cdn-media.screener.in/concalls/e8ccf3b...
Oct 2023,https://cdn-media.screener.in/concalls/15222ac...,/concalls/summary/15579504/,https://cdn-media.screener.in/concalls/15222ac...,https://cdn-media.screener.in/concalls/15222ac...
Aug 2023,None,None,https://cdn-media.screener.in/concalls/b5c80b9...,https://cdn-media.screener.in/concalls/b5c80b9...
Jul 2023,https://cdn-media.screener.in/concalls/bab44ad...,/concalls/summary/12406467/,https://cdn-media.screener.in/concalls/bab44ad...,https://cdn-media.screener.in/concalls/bab44ad...
Apr 2023,https://cdn-media.screener.in/concalls/1f8702d...,/concalls/summary/9464587/,https://cdn-media.screener.in/concalls/1f8702d...,https://cdn-media.screener.in/concalls/1f8702d...
Jan 2023,https://cdn-media.screener.in/concalls/448e135...,/concalls/summary/6910417/,https://cdn-media.screener.in/concalls/448e135...,https://cdn-media.screener.in/concalls/448e135...
Oct 2022,https://cdn-media.screener.in/concalls/f4ff49a...,/concalls/summary/4539079/,https://cdn-media.screener.in/concalls/f4ff49a...,https://cdn-media.screener.in/concalls/f4ff49a...
Jul 2022,None,None,https://cdn-media.screener.in/concalls/09dd568...,https://cdn-media.screener.in/concalls/09dd568...
May 2022,None,None,https://cdn-media.screener.in/concalls/5275b7f...,https://cdn-media.screener.in/concalls/5275b7f...
Feb 2022,None,None,https://cdn-media.screener.in/concalls/8aceef1...,https://cdn-media.screener.in/concalls/8aceef1...
Jan 2022,None,None,https://cdn-media.screener.in/concalls/b54977d...,https://cdn-media.screener.in/concalls/b54977d...
Oct 2021,None,None,https://cdn-media.screener.in/concalls/542a2fb...,https://cdn-media.screener.in/concalls/542a2fb...
Jul 2021,None,None,https://cdn-media.screener.in/concalls/444dde4...,https://cdn-media.screener.in/concalls/444dde4...
Apr 2021,None,None,https://cdn-media.screener.in/concalls/bdac33f...,https://cdn-media.screener.in/concalls/bdac33f...
Feb 2021,None,None,https://cdn-media.screener.in/concalls/ab8ec7d...,https://cdn-media.screener.in/concalls/ab8ec7d...
Jan 2021,None,None,https://cdn-media.screener.in/concalls/6750871...,https://cdn-media.screener.in/concalls/6750871...
Oct 2020,None,None,https://cdn-media.screener.in/concalls/b594af1...,https://cdn-media.screener.in/concalls/b594af1...
Jul 2020,None,None,https://cdn-media.screener.in/concalls/9fb8f7b...,https://cdn-media.screener.in/concalls/9fb8f7b...
May 2020,None,None,https://cdn-media.screener.in/concalls/5e505f4...,https://cdn-media.screener.in/concalls/5e505f4...
Jan 2020,None,None,https://cdn-media.screener.in/concalls/1656686...,https://cdn-media.screener.in/concalls/1656686...
Oct 2019,None,None,https://cdn-media.screener.in/concalls/3874b62...,https://cdn-media.screener.in/concalls/3874b62...
Apr 2019,None,None,https://cdn-media.screener.in/concalls/4a105c6...,https://cdn-media.screener.in/concalls/4a105c6...
Jan 2019,None,None,https://cdn-media.screener.in/concalls/1656689...,https://cdn-media.screener.in/concalls/1656689...
Oct 2018,None,None,https://cdn-media.screener.in/concalls/1011e4d...,https://cdn-media.screener.in/concalls/1011e4d...
Apr 2018,None,None,https://cdn-media.screener.in/concalls/be74d83...,https://cdn-media.screener.in/concalls/be74d83...
Jan 2018,None,None,https://cdn-media.screener.in/concalls/1656692...,https://cdn-media.screener.in/concalls/1656692...
Oct 2017,None,None,https://cdn-media.screener.in/concalls/616d18b...,https://cdn-media.screener.in/concalls/616d18b...
Jun 2016,None,None,https://cdn-media.screener.in/concalls/65dc97b...,https://cdn-media.screener.in/concalls/65dc97b...